name: Test

on:
    push:
        branches:
            - '**'
    pull_request:
        types: [opened]

jobs:
  unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x
      - name: Build and test with rspec
        run: |
          gem install bundler
          bundle install --jobs=4 --retry=3
          mkdir /tmp/test-results
          bundle exec rspec --format progress --out /tmp/test-results/rspec.xml
      - name: Codecov
        run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}
